<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxy.dao.OrderDao">
    <resultMap id="dataMap" type="com.qxy.model.po.Order">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="total_amount" property="totalAmount" />
        <result column="pay_type" property="payType" />
        <result column="pay_time" property="payTime" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>
    <insert id="createOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders(user_id,status,total_amount,pay_type,created_at,updated_at)
        values(#{userId},#{status},#{totalAmount},#{payType},now(),now())
    </insert>
    <update id="updateOrderStatusToCancelled">
        update orders set status = 'cancelled' where order_id = #{orderId}
    </update>
    <select id="getOrderList" resultType="com.qxy.model.po.Order" resultMap="dataMap">
        select * from orders where user_id = #{userId}
    </select>
    <select id="getOvertimeOrders" resultType="java.lang.Integer">
        select order_id from orders
        where status = 'create' and now() >= created_at + INTERVAL 30 MINUTE
        ORDER BY order_id ASC
        LIMIT 50
    </select>
</mapper>
